<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TalentFlow{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('main.dashboard') }}" class="logo">TalentFlow</a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                <!-- Adicionar outros links de navegação aqui se necessário -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 TalentFlow - Potencializando o Talento Interno.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const barrasProgresso = document.querySelectorAll('.barra-progresso');
            barrasProgresso.forEach(barra => {
                const percentual = barra.getAttribute('data-percentual');
                if (percentual) {
                    barra.style.width = percentual + '%';
                }
            });
        });
    </script>
</body>
</html>